// Buy Now Flag

.buy-now-flag {
  position: fixed;
  display: block;
  top: 370px;
  right: -80px;
  padding: 30px 15px 10px 15px;
  font-size: 20px;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 40px;
  border-radius: 8px;
  border: 2px solid var(--wp--preset--color--black);
  color: var(--wp--preset--color--black);
  background-color: var(--wp--preset--color--white);
  transform: rotate(90deg);
  transition: all 0.5s ease-out;
  z-index: 9999;
  width: 190px;
  text-align: center;

  &:hover {
    right: -70px;
  }
}
