// Comentários

.comments {
  .comment-list {
    padding: 0;
  }

  .comment-list,
  .children {
    list-style: none;
  }

  .comment-body {
    padding: 15px;
    margin-bottom: 1rem;
    border-radius: 0.25em;
    // background-color: #262626;
  }

  .comment-form {
    label {
      font-weight: bold;
      margin-bottom: 8px;
    }
  }

  .comment-reply-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25em;
    background-color: var(--wp--preset--color--jet);
    color: var(--wp--preset--color--white);
  }

  .reply {
    height: auto;
  }
}
