// Entrys
.entry-header {
	.entry-title {
		color: var(--wp--preset--color--jet);
	}
}

.wp-block-cover__inner-container,
.entry-header,
.entry-content {
	width: 100% !important;

	& > *:not(.alignwide):not(.alignfull):not(.woocommerce) {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;

		@media (min-width: 576px) {
			max-width: 540px;
		}

		@media (min-width: 768px) {
			max-width: 720px;
		}
	}

	.alignfull {
		max-width: 100%;
	}

	.woocommerce,
	&.wc-tab > *,
	.alignwide {
		margin-left: auto;
		margin-right: auto;
		padding-left: 15px;
		padding-right: 15px;

		// Extra large devices (large desktops, 1200px and up)
		@media (min-width: 1200px) {
			max-width: 1140px !important;
		}
	}
}

.entry-footer {
}
