// Navbar

.navbar {
  transition: 0.3s;
}

.navbar-collapse {
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    // background: unset;
  }
}

.navbar-nav {
  .dropdown-menu {
    flex-direction: column;
    padding: 0;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.8rem;

    @media (min-width: 992px) {
      margin-top: 18px !important;
    }

    .nav-item {
      padding-top: 0.8rem;
      padding-bottom: 0.8rem;
      border-bottom: 1px solid var(--wp--preset--color--cultured);
    }
  }
}

.nav-item {
  .nav-link {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  @media (min-width: 992px) {
    padding: 8px;

    .nav-link {
      position: relative;
      padding: 0 0 4px 0;

      &::after {
        content: "";
        width: 0;
        transition: width 0.3s ease;
      }
    }

    &.active,
    &:hover,
    &:active,
    &:focus {
      .nav-link {
        &::after {
          // content: "";
          // position: absolute;
          // bottom: 0;
          // left: 0;
          // width: 100%;
          // height: 1px;
          // background-color: var(--wp--preset--color--light-gray);
          // transition: width 0.3s ease;
        }
      }
    }
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: var(--wp--preset--color--jet);

      &:hover,
      &:active,
      &:focus {
        color: var(--wp--preset--color--jet);
      }
    }
  }
}
