// Pagination & Post Navigation

.pagination,
.post-navigation {
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;

    > * {
      padding: 1rem;
    }
  }
}

.pagination {
  .prev,
  .next {
  }

  .current {
    color: var(--wp--preset--color--jet);
  }
}

.post-navigation {
  .nav-previous,
  .nav-next {
  }
}
