// Recent Blog Posts

.recent-blog-posts {
	display: grid;
	grid-column-gap: var(--wp--style--block-gap);

	// Small devices (landscape phones, 576px and up)
	@media (min-width: 576px) {
		grid-template-columns: repeat(3, 1fr);
	}
}
