/* Select Input Wrapper */

.select-wrapper {
	position: relative;

	&::after {
		content: "\f078";
		position: absolute;
		top: 50%;
		right: 0.8rem;
		height: 1rem;
		font: normal normal normal 1rem/1 FontAwesome;
		color: var(--wp--preset--color--jet);
		transform: translateY(-50%);
		pointer-events: none;
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}
