/* Woocommerce Button */

.woocommerce {
	a.button,
	a.button.alt,
	button.button,
	button.button.alt {
		margin-top: 1.2rem;
		text-transform: uppercase;
		border: none;
		border-radius: 0.25em;
		color: var(--wp--preset--color--white);
		background: var(--wp--preset--color--jet);
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
			box-shadow 0.15s ease-in-out;

		&:hover,
		&:active,
		&:focus {
			background-color: brightness(110%);
		}
	}
}
