// Woocommerce Product

.woocommerce {
	div.product {
		.product_title {
			font-size: 1.5rem;
			font-weight: bold;
		}

		div.images {
			.flex-control-thumbs {
				display: grid;
				grid-template-columns: repeat(auto-fill, 18%);
				gap: 0.5rem;
				margin-top: 0.5rem;
				justify-content: center;
				align-items: center;

				// Medium devices (tablets, 768px and up)
				@media (min-width: 768px) {
					grid-template-columns: repeat(auto-fill, 8%);
				}

				// Large devices (desktops, 992px and up)
				@media (min-width: 992px) {
					grid-template-columns: repeat(auto-fill, 13%);
				}

				& > li {
					width: unset;
				}
			}

			.flex-direction-nav {
				position: absolute;
				top: 0;
				display: flex;
				justify-content: space-between;
				margin: 0;
				padding: 0;
				width: 100%;
				list-style: none;
				transform: translateY(calc(100% + 150px));
			}

			.flex-nav-prev,
			.flex-nav-next {
				padding: 0.25rem;
				color: var(--wp--preset--color--white);
				background-color: var(--wp--preset--color--jet);
				filter: opacity(0);
				transition: all 0.5s;

				&:hover {
					text-decoration: none !important;
				}
			}

			&:hover {
				.flex-nav-prev,
				.flex-nav-next {
					filter: opacity(0.8);
				}
			}
		}
	}
}
