form {
	p {
		font-size: 1em;
		margin-bottom: 0.5rem;
	}

	label {
		margin: 0;
		width: 100%;
		text-transform: uppercase;
	}
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="password"],
textarea,
select {
	width: 100%;
	padding: 8px;
	border: 1px solid var(--wp--preset--color--light-gray);
	border-radius: 0;
	background-clip: padding-box;
	box-sizing: border-box;
}

input[type="submit"] {
	display: block;
	padding: 7px 25px;
	text-transform: uppercase;
	border: none;
	border-radius: 0.25em;
	color: var(--wp--preset--color--white);
	background: var(--wp--preset--color--jet);
	box-sizing: border-box;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;

	&:hover,
	&:active,
	&:focus {
		filter: brightness(110%);
	}
}

textarea {
	min-height: 50px;
}

select {
	position: relative;
	width: 100%;
	// -moz-appearance: none;
	// -webkit-appearance: none;
	// appearance: none;
	border-radius: 0;
	background-image: linear-gradient(45deg, transparent 50%, var(--wp--preset--color--white) 50%),
		linear-gradient(135deg, var(--wp--preset--color--white) 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
	background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	background-repeat: no-repeat;

	/* IE11 hide native button */
	// &::-ms-expand {
	// 	display: none;
	// }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	transition: background-color 5000s ease-in-out 0s;
	border: none;
	box-shadow: 0 0 0 1000px transparent inset;
	-webkit-text-fill-color: var(--wp--preset--color--jet);
}

::placeholder {
	color: var(--wp--preset--color--jet);
	opacity: 1;
}

:-ms-input-placeholder {
	color: var(--wp--preset--color--jet);
}

::-ms-input-placeholder {
	color: var(--wp--preset--color--jet);
}
