// Footer
.footer {
	background-color: var(--wp--preset--color--cultured);
}

.footer-widgets {
	padding: 30px 0;

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;

		// Large devices (desktops, 992px and up)
		@media (min-width: 992px) {
			flex-direction: row;
			text-align: initial;
		}
	}

	.widget {
		padding: 15px 0;
		color: var(--wp--preset--color--jet);
		font-size: 0.8rem;

		ul {
			list-style: none;
			padding: 0;

			// Large devices (desktops, 992px and up)
			@media (min-width: 992px) {
				list-style: initial;
				padding: initial;
			}
		}

		.widget-title {
			margin-bottom: 30px;
			color: var(--wp--preset--color--black);

			&:first-letter {
				border-bottom: 1px solid var(--wp--preset--color--jet);
			}
		}
	}

	// Change Gallery Widget to Display Grid
	.gallery {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 15px;

		.gallery-item {
			width: auto !important;
			margin: 0 !important;
		}

		// Medium devices (tablets, 768px and up)
		@media (min-width: 768px) {
			display: flex;
			flex-wrap: wrap;

			.gallery-item {
				width: auto !important;
				margin: 15px !important;
			}
		}
	}
}

.footer-bottom {
	font-size: 14px;
	background-color: var(--wp--preset--color--light-gray);

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: var(--wp--preset--spacing--40);
		align-items: center;
		padding: 15px 0;

		// Large devices (desktops, 992px and up)
		@media (min-width: 992px) {
			flex-direction: row;
		}
	}
}
