// Columns Timeline Like

.is-style-timeline-columns {
	position: relative;
	margin-top: 0;
	margin-bottom: 0;

	// Small devices (landscape phones, less than 768px)
	@media (max-width: 767.98px) {
		&::before {
			content: "";
			position: absolute;
			display: block;
			top: 0;
			left: 30px;
			width: 1px;
			height: 100%;
			background-color: #d6d6d6;
		}

		.wp-block-column:nth-child(1) {
			border-top: 1px solid #d6d6d6;
		}
	}

	.wp-block-column {
		margin: 0;
		padding: 2rem;

		&:first-child {
			position: relative;

			&::before,
			&::after {
				content: "";
				position: absolute;
				display: block;
				border-radius: 100%;
				top: 0;
				right: unset;
				bottom: unset;
				left: 0;
				transform: translateY(-50%);

				// Medium devices (tablets, 768px and up)
				@media (min-width: 768px) {
					top: 0;
					right: 0;
					bottom: unset;
					left: unset;
					transform: translate(50%, -50%) !important;
				}
			}

			&::before {
				width: 30px;
				height: 30px;
				border: 1px solid var(--wp--preset--color--foreground);
				background-color: var(--wp--preset--color--white);
			}

			&::after {
				width: 10px;
				height: 10px;
				background-color: var(--wp--preset--color--foreground);
				transform: translate(100%, -50%);
			}
		}
	}

	// Medium devices (tablets, 768px and up)
	@media (min-width: 768px) {
		&:nth-child(odd) {
			.wp-block-column:nth-child(1) {
				border-top: 1px solid #d6d6d6;
			}
		}

		&:nth-child(even) {
			.wp-block-column:nth-child(2) {
				border-top: 1px solid #d6d6d6;
			}
		}

		&:not(:last-child) {
			.wp-block-column:first-child {
				border-right: 1px solid #d6d6d6;
			}
		}
	}
}
