// Block Media and Text

.wp-block-media-text {
	margin-top: 30px;
	margin-bottom: 30px;

	&.is-image-fill {
		.wp-block-media-text__media {
			@media (min-width: 992px) {
				min-height: 450px;
			}
		}
	}

	&.is-stacked-on-mobile {
		gap: var(--wp--style--block-gap);
	}
}
