/* Webfonts */

// Note: Need to be enqueued in Block Editor Assets to be applied there too

@font-face {
	font-family: "Open Sans";
	src: url("../../fonts/OpenSans-Light.woff2") format("woff2"), url("../../fonts/OpenSans-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("../../fonts/OpenSans-LightItalic.woff2") format("woff2"),
		url("../../fonts/OpenSans-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("../../fonts/OpenSans-Regular.woff2") format("woff2"),
		url("../../fonts/OpenSans-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("../../fonts/OpenSans-Italic.woff2") format("woff2"),
		url("../../fonts/OpenSans-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("../../fonts/OpenSans-Bold.woff2") format("woff2"), url("../../fonts/OpenSans-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Open Sans";
	src: url("../../fonts/OpenSans-BoldItalic.woff2") format("woff2"),
		url("../../fonts/OpenSans-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("../../fonts/Raleway-Regular.woff2") format("woff2"),
		url("../../fonts/Raleway-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("../../fonts/Raleway-Italic.woff2") format("woff2"), url("../../fonts/Raleway-Italic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("../../fonts/Raleway-SemiBold.woff2") format("woff2"),
		url("../../fonts/Raleway-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("../../fonts/Raleway-SemiBoldItalic.woff2") format("woff2"),
		url("../../fonts/Raleway-SemiBoldItalic.woff") format("woff");
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("../../fonts/Raleway-Bold.woff2") format("woff2"), url("../../fonts/Raleway-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("../../fonts/Raleway-BoldItalic.woff2") format("woff2"),
		url("../../fonts/Raleway-BoldItalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Julius Sans One";
	src: url("../../fonts/JuliusSansOne-Regular.woff2") format("woff2"),
		url("../../fonts/JuliusSansOne-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
